# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Build output
/dist/
/build/

# Environment variables
.env
.env.*

# Misc
*.swp
*.swo

# Netlify
.netlify/

# Local files
files/*.pdf

# Ignore system files
*.tmp 